* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 40px 0;
  color: orangered;
  font-size: 40px;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

button {
  padding:8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 600;
  transition: 0.15s;
  cursor: pointer;
  background-color: azure;
  color: orangered;
  border: 2px solid orangered;
}

button:hover {
  background-color: orangered;
  color: azure;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin: 60px auto;
  background-color: azure;
}

.block {
  width: 40px;
  height: 40px;
  background-color: azure;
}

.lining {
  border: 1px solid orangered;
}

.hovering {
  background-color: orangered;
}