* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-theme: orangered;
  --sub-theme: azure;
  --paragraph-theme: #ccc;
}

body {
  background-color: rgb(61, 129, 185);
}

h1 {
  margin-top: 4%;
  color: var(--main-theme);
  text-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  background-clip: text;
  font-size: 4rem;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 3.6rem 0 1.2rem;
}

.btn-container {
  width: 12rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

button {
  padding: 1.2rem 1.6rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.15s;
  cursor: pointer;
  background-color: var(--sub-theme);
  color: var(--main-theme);
  box-shadow: inset -0.4rem -0.4rem 0.4rem rgba(0, 0, 0, 0.3), 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
}

.active, button:active {
  background-color: var(--main-theme);
  color: var(--sub-theme);
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 64rem;
  background-color: var(--sub-theme);
  cursor: crosshair;
}

.dummy-container {
  width: 12rem;
  height: 12rem;
}

.block {
  width: 4rem;
  height: 4rem;
  background-color: var(--sub-theme);
}

.lining {
  border: 0.1rem dotted rgba(255, 69, 0, 0.4);
}

.gr1 {
  background-color: rgba(255, 69, 0, 0.1);
}

.gr2 {
  background-color: rgba(255, 69, 0, 0.2);
}

.gr3 {
  background-color: rgba(255, 69, 0, 0.3);
}

.gr4 {
  background-color: rgba(255, 69, 0, 0.4);
}

.gr5 {
  background-color: rgba(255, 69, 0, 0.5);
}

.gr6 {
  background-color: rgba(255, 69, 0, 0.6);
}
 
.gr7 {
  background-color: rgba(255, 69, 0, 0.7);
}
 
.gr8 {
  background-color: rgba(255, 69, 0, 0.8);
}
 
.gr9 {
  background-color: rgba(255, 69, 0, 0.9);
}

.gr10 {
  background-color: rgba(255, 69, 0, 1);
}

.size-display {
  color: var(--paragraph-theme);
  width: 64rem;
  margin: 0 auto;
  text-align: right;
  font-size: 1.6rem;
}

small {
  margin: 2rem 0;
  display: block;
  text-align: center;
}

a {
  color: var(--paragraph-theme);
  font-size: 1.6rem;
  text-decoration: none;
}